
h1{
	text-align:center;
	color:#ffffff;
}
body{
	background-color:#452824;
	color:#ffffff
}
.p{
	border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.pp{
		border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.ppp{
		border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
a{
	color:#ffffff
}
.ggf{
	border:2px solid #000000;
	border-radius:6px;
	background-color:#45464F;
	padding:5px