h1{
	text-align:center;
	color:#ffffff
}
body{
	background-color:#452824;
	color:#ffffff
}

.g{
	border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.gg{
	border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.ggg{
	border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.gggg{
	border:5px solid #000000;
	width:10%;
	border-radius:10px;
	background-color:#976434;
	color:#ffffff
}
.b{
	border:2px solid #000000;
	border-radius:6px;
	background-color:#45464F;
	padding:5px;
	color:#ffffff
	
}