h1{
	text-align:center;
	color:#ffffff
}
body{
	background-color:#452824;
	color:#ffffff
}
h3{
	color:#ffffff
}
a{
	color:#ffffff
}
.llkkjj{
	border:2px solid #000000;
	border-radius:6px;
	background-color:#45464F;
	padding:5px;
	color:#ffffff
}